/.vsconfig
/Assembly-CSharp.csproj
/Assets
/Library
/Logs
/obj
/Packages
/ProjectSettings
/SimpleInput.Editor.csproj
/SimpleInput.Runtime.csproj
/Unity Mega Man Final.sln
/Unity Mega Man Tutorial.sln
/UserSettings